body {
  background-image: url("../img/sisterandi.jpeg");
  background-size: cover;
  background-position: center 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.card-container {
  max-width: 400px;
}

.card-body {
  height: auto;
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  padding: 20px;
  margin: 0 auto;
}

.card-text {
  display: none;
  padding-top: 10px;
}

.card-text.show {
  display: block;
}

.card-subtitle {
  padding-top: 10px;
  cursor: pointer;
}
