body {
  background-image: url("../img/downhill.jpeg");
  background-size: cover;
  background-position: center 8%;
}

nav {
  background-color: rgba(255, 255, 255, 0.4);
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Crimson Text", serif;
  font-weight: bolder;
  font-size: 50px;
  text-align: center;
  padding-top: 400px;
}
